<div class="page-header">
  <%= link_to pain_points_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New pain_point</h1>
</div>

<%= render 'form' %>
