<% provide :title, 'Dashboard' %>
<% provide :heading, 'Dashboard' %>

<div class="row">
  <div class="col-xs-12">
    <ul>
      <li><%= link_to 'Pain Points', pain_points_path %></li>
      <li><%= link_to 'Manage Activities', activities_path %></li>
    </ul>
  </div>
</div>