<% provide :title, 'Dashboard' %>
<% provide :heading, 'Dashboard' %>
<% provide :active, 'Home' %>

<div class="row">
  <%# Use today's date for some of these "most recent" charts %>
  <% today = DateTime.now %>

  <% @charts.each do |period, length| %>
      <div class="col-xs-12">
        <h2>Pain Over the Last <%= pluralize(length, period.to_s.capitalize) %></h2>
      </div>

      <%= render partial: 'layouts/group_charts', locals: {pain_points: @pain_points, length: length, min_date: today-length.send(period), max_date: today, period: period, options:{}} %>
  <% end %>
</div>