<% provide :title, 'Dashboard' %>
<% provide :heading, 'Dashboard' %>
<% provide :active, 'Home' %>

<div class="row">
  <% @charts.each do |period, length| %>
      <div class="col-xs-12">
        <h2>Pain Over the Last <%= pluralize(length, period.to_s.capitalize) %></h2>
        <% data = @pain_points.send("group_by_#{period.to_s.singularize}", :date, last: length,
            default_value: nil).sum(:magnitude).reject { |_, v| v.nil? }%>

        <% if data.empty? %>
            <div class="no-data">No Data Available</div>
        <% else %>
          <%= line_chart data %>
        <% end %>
      </div>
  <% end %>
</div>