<%# Expects the following parameters:
collection
attributes
show_row_partial
edit_row_partial
%>

<div id="errors"></div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <% attributes.each do |attr| %>
          <th><%= attr.to_s.titleize %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody id="editable_table">
    <% (collection || []).each do |item| %>
      <%= render partial: 'layouts/editable_row', locals: {item: item, attributes: attributes} %>
    <% end %>
    </tbody>
  </table>
</div>
